{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<meta name="twitter:title" content="Тульповоды">
	<meta property="og:title" content="Тульповоды">
	<meta name="description" content="Рациональность, открытость, обмен опытом и научный подход.">
	<meta property="og:description" content="Рациональность, открытость, обмен опытом и научный подход.">
{% endblock %}

{% block content %}
<div class="page">
	<div class="banner" style="background: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/long.webp') no-repeat;">
		<div class="text">
			<p class="title">Тульповоды</p>
			<p class="description">Рациональность, открытость, обмен опытом и научный подход.</p>
		</div>
	</div>

	<p>Добро пожаловать! Вы находитесь на одном из крупнейших порталов, посвященных тульповодству.</p>

	<p>Тем, кто не знаком с дискурсом, предлагаем <a href="/overture">обзорную статью</a> о феномене.</p>

	<p style="margin-bottom: .5em">Статьи на сайте поделены на следующие категории:</p>
	<ul>
		<li><strong>Полный гайд.</strong> Материал, охватывающий большинство аспектов, описывающих процесс создания тульпы.</li>
		<li><strong>Визуализация.</strong> Статьи, посвященные тренировкам визуализации вашей тульпы.</li>
		<li><strong>Вондерленд.</strong> Развитием способности погружаться в воображаемый мир.</li>
		<li><strong>Осознанные сновидения.</strong> Состояние, при котором человек осознаёт, что видит сон, и может в той или иной мере управлять его содержанием.</li>
		<li><strong>Медитация.</strong></li>
		<li>И так далее. Полный список категорий смотрите в <a href="/categories">соответствующем разделе</a> сайта.</li>
	</ul>

	<p>Присоединяйтесь к <a href="https://t.me/TulpaWikia">нашему чату в Telegram!</a></p>

	<script async src="https://telegram.org/js/telegram-widget.js?390215" data-telegram-post="TulpaWikia/390215" data-width="100%" data-color="DE7410" data-dark-color="F0B138"></script>

	<p>
		Мы придерживаемся следующих принципов при организации материалов:<br>
		<strong>Научный подход.</strong> Мы стараемся публиковать исключительно проверяемую научную информацию. Только то, что работает и никакой воды.<br>
		<strong>Полнота.</strong> Мы намерены построить наиболее целостную теорию, расширяя её и дополняя важными деталями, не зацикливаясь на узких областях.<br>
		<strong>Непротиворечивость.</strong> Материалы в нашем каталоге тщательно проверяются.
	</p>
</div>
{% endblock content %}
