
.icon-link-solid:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-telegram-plane:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-tulpa:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e810'; } /* '' */
.icon-left-open:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-book-solid:before { content: '\e813'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */